//Colors
$color-red = #EE3822
$color-pumpkin = #F6901D
$color-orange = #FAAA17
$color-yellow = #f1c40f
$color-lemon = #C0D72F
$color-green = #4AB848
$color-greensea = #27B466
$color-blue = #3498db
$color-darkblue = #2C57A5
$color-midnight = #34495e
$color-purple = #9b59b6
$color-pink = #EA2462
$color-clouds = #ecf0f1
$color-white = #ffffff

//Typos
$font-family = "Helvetica Neue", Helvetica, Arial, sans-serif
